# Environment & Secret variables
.env
*.env

# Python & Caches
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/
.pytest_cache/
venv/
env/

# Logs & Telemetry
*.log
airflow/logs/
eval/
*.jsonl
scratch/

# Local & Docker Data
Data/
data/
DockerData/
*.vhdx

# dbt Artifacts
zomato_dbt/target/
zomato_dbt/dbt_packages/
zomato_dbt/logs/
zomato_dbt/.user.yml
Enterprise-Agentic-Lakehouse/

# Local runtime state (written by Airflow DAG, read by query cache)
metadata/
last_ai_run.txt
.llm_cache/
